@media all and (min-width: 480px) {
    .Login {
      padding: 100px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .Login Button {
      margin-top: 10px;
    }

    .Login .btn-cadastrar {
      margin-left: 94px;
      background-color: #177F53 !important;
      border-color: #177F53 !important;
    }

    .Login img {
      margin-bottom: 10px;
    }
  }